html {
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  a {
    display: flex;
    flex-direction: row;
    width:30%;
    margin-left: 13px;
    padding: 10px;
    color: var(--accent);
    background-color: var(--secondary);
    text-decoration: none;
    transform: skewX(-10deg);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: var(--accent) solid 2px; 
    box-shadow: var(--primary) 2px 2px 5px;
}
a:hover {
    color: var(--accent);
    background-image: linear-gradient(to right, var(--secondary), var(--background));
    animation-name: linkSelect;
    animation-duration: .2s;
    animation-fill-mode: both;
}
@keyframes linkSelect {
    from {width: 30%; height:auto;}
    to {width: 95%;}
}
